* {
    margin: o;
    padding: 0;
    box-sizing: border-box;
}
html,
body {
  min-width: 350px;
}
body {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    background-color: black;
  }
  header {
    color: white;
    background-color: #222222;
    text-align: center;
    padding: 30px;
    font-weight: 1000;
    font-size: xx-large;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 5;
  }
.container {
   
width: 100%;
height: 100vh;
 margin-top: 140px;
 margin-bottom: 140px;
 background-color:white;
}
.container>.text {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    background-color: rgba(0, 0, 0, 0.732);
    color: rgb(255, 255, 255);
    text-align: center;
   
}
@media (max-width:600px) {
    .container> .bilders {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(9,250px)
    }  
}
.bilders {
    display: grid;
    grid-template-columns:repeat(3,1fr);
    grid-template-rows:  1fr 1fr 1fr ;
    width: 100%;
    height: 100%;
    gap: 10px;
    background-color: black;
}
.bilders>.bilder{
    border-radius: 15px;
     /* height: 70%;  */
     
}
.bilder > i{
    position: absolute;
    right: 4px;
    top: 83%;
    color: rgb(15, 190, 15);
    padding: 5px;
    font-size: 40px;
}
.bilder > button {
    position: absolute;
    top: 83%;
    background-color: rgba(128, 128, 128, 0.56);
    color: white;
    border: none;
    left: 10px;
    font-weight: 900;
    font-size: 20px;
    padding: 10px;
}
.bilder-1 {
    position: relative;
    background-image: url(./assets/student-1.jpeg);
    background-size: cover;
    background-position: center;
}
.bilder-2 {
    position: relative;
    background-image: url(./assets/student-2.jpeg);
    background-size: cover;
    background-position: center;
}
.bilder-3 {
    position: relative;
    background-image: url(./assets/student-3.jpeg);
    background-size: cover;
    background-position: center;
}
.bilder-4 {
    position: relative;
    background-image: url(./assets/student-4.jpeg);
    background-size: cover;
    background-position: center;
}
.bilder-5 {
    position: relative;
    background-image: url(./assets/student-5.jpeg);
    background-size: cover;
    background-position: center;
}
.bilder-6 {
    position: relative;
    background-image: url(./assets/student-6.jpeg);
    background-size: cover;   padding: 10px;
    background-position: center;
}
.bilder-7 {
    position: relative;
    background-image: url(./assets/student-7.jpeg);
    background-size: cover;
    background-position: center;
}
.bilder-8 {
    position: relative;
    background-image: url(./assets/student-8.jpeg);
    background-size: cover;
    background-position: center;   padding: 10px;
}
.bilder-9 {
    position: relative;
    background-image: url(./assets/student-9.jpeg);
    background-size: cover;
    background-position: center;
}
footer{   left: 0;
        display: flex;
        justify-content: space-around;
        align-items: center;
        color: white;
        position: fixed;
        bottom: 0;
      width: 100%;
        background-color: #222222;
      padding: 10px;
}
.icon {
    text-align: center;
    color: white;
    font-size: 20px;
}
.icon-text {

    font-size: 20px;
}
footer>button{
    background-color: red;
    color: white;
    border-radius: 10px;
    border: none;
height: 35px;
width: 100px;
}